<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title>VOTE</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </h:head>
    <h:body>
        <h:outputStylesheet library="css" name="styles.css"/>
        <h:outputStylesheet name="webjars/font-awesome/4.4.0/css/font-awesome.css"/>
        <h:form id="playgroundForm">
            <div class="ui-g">
                <div class="ui-g-12">
                    <p:graphicImage name="images/network64.png" />
                    <h1>Welcome to</h1>
                    <h1>"#{playgroundView.currentPlayground.name}"</h1>
                </div>
            </div>
            <div class="ui-g">
                <div class="ui-g-12">
                    <h4>Share this unique code:</h4>
                    <h2>#{playgroundView.uniqueLink}</h2>
                </div>
            </div>
            <div class="ui-g">
                <div class="ui-g-12">
                    <p:dataTable id="playgroundTable" var="row" value="#{playgroundView.rows}">
                        <p:column style="background-color: lightblue">
                            <f:facet name="header">
                                <h:outputText value="Voter"/>
                            </f:facet>
                            <h:outputText value="#{row.nickname}" rendered="#{!row.editable}"/>
                            <p:inputText placeholder="Your name" value="#{row.nickname}" rendered="#{row.editable}" style="width: 90%;"/>
                        </p:column>
                        <p:columns var="choice" value="#{playgroundView.choices}" id="columnstest">
                            <f:facet name="header">
                                <h:outputText value="#{choice.value}"/>
                                <h:outputText value="#{playgroundView.getNumberOfVotesForChoice(choice)}" 
                                              style="float: right; color: dodgerblue;"/>
                            </f:facet>
                            <p:commandButton icon="fa fa-check" class="iconButton" style="width: 100% !important"
                                             actionListener="#{playgroundView.updateVote(row.nickname, choice, false)}" 
                                             update=":playgroundForm:playgroundTable"
                                             rendered="#{row.choiceVoteBindings.get(choice)}"/>
                            <p:commandButton icon="nothing" class="iconButton"  style="width: 100% !important"
                                             actionListener="#{playgroundView.updateVote(row.nickname, choice, true)}" 
                                             update=":playgroundForm:playgroundTable"
                                             rendered="#{!row.choiceVoteBindings.get(choice)}"/>
                        </p:columns>
                    </p:dataTable>
                </div>
            </div>
            <div class="ui-g">
                <div class="ui-g-12">
                    <p:commandButton value="Submit" action="#{playgroundView.reload()}"/>
                    <p:spacer width="20px"/>
                    <p:commandButton value="Back" action="#{playgroundView.back()}" rendered="#{playgroundView.buttonBackVisible}"/>
                    <p:commandButton value="Log in" action="#{playgroundView.toLogin()}" rendered="#{!playgroundView.buttonBackVisible}"/>
                </div>
            </div>
        </h:form>
    </h:body>
</html>

