button.ui-button {
    width: 120px;
}
html {
    text-align: center;
}

body{
    /*background: #3e3e3e;*/
    background-image: url("#{resource['images/wallpaper.jpg']}");;
}

input.ui-inputtext, input.ui-password {
    width: 255px;
}

div.ui-messages-info {
    display: inline-flex;
}

h1, h2, h3, h4, h5, h6 {
    font-family: sans-serif;
    color: #fff;
}

div.ui-g-12 {
    text-align: -webkit-center;
}

div.ui-g-12 div.ui-datatable {
    max-width: 900px;
}

tr.ui-widget-content {
    text-align: center;
}

button.iconButton {
    background-image: none !important;
    border: none !important;
    border-color: transparent !important;
    background-color: transparent !important;
    width: auto !important;
}

button.iconButton.ui-state-hover {
    color: red;
}

span.nothing {
    display: none;
}